<!-- pie_chart.html -->
{% extends "base1.html" %}

{% block title %}Flight Time Distribution Plot{% endblock %}

{% block content %}
<div style="border: 2px solid white; padding: 20px; margin-bottom: 20px;">
    <h1>Departure Time Distribution</h1>
    <div id='chart' class='chart'></div>
</div>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
var graphs = {{ graphJSON | safe }};
Plotly.plot('chart', graphs.data, graphs.layout);
</script>
{% endblock %}