<!-- Save this file as 'confirm_booking.html' -->
{% extends "base1.html" %}

{% block title %}Booking Confirmation{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h1>Booking Confirmation</h1>

        {% if flight_details and passenger_details %}
            <p><b>Flight Number: {{ flight_details.flightNumber }}</b></p>
            <p><b>Departure: {{ flight_details.origin }}</b></p>
            <p><b>Destination: {{ flight_details.destination }}</b></p>
            <p><b>Date of Jounrey: {{ date_ }}</b></p>

            <h2>Passenger Information</h2>
            <p>Name: {{ passenger_details.name }}</p><br>
            <p>Age: {{ passenger_details.age }}</p><br>
            <p>Aadhaar Card Number: {{ passenger_details.aadhaar }}</p><br>
            <p>Address: {{ passenger_details.address }}</p><br>

            <button type="button" onclick="alert('Your booking will be done soon...')">Confirm Ticket!</button>
            
            <!-- Include other flight and passenger details as needed -->
        {% else %}
            <p>Booking confirmation failed. Please try again.</p>
        {% endif %}
    </div>
{% endblock %}