<!-- Save this file as 'confirm_booking.html' -->
{% extends "base1.html" %}

{% block title %}Booking Confirmation{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h1>Booking Confirmation</h1>

        {% if error_message %}
            <p>{{ error_message }}</p>
        {% else %}
            {% if flight_details and passenger_details %}
                <p><b>Flight Number: {{ flight_details.flightNumber }}</b></p>
                <p><b>Departure: {{ flight_details.origin }}</b></p>
                <p><b>Destination: {{ flight_details.destination }}</b></p>
                <p><b>Date of Journey: {{ date_ }}</b></p>

                <h2>Passenger Information</h2>
                <p>Name: {{ passenger_details.name }}</p><br>
                <p>Age: {{ passenger_details.age }}</p><br>
                <p>Aadhaar Card Number: {{ passenger_details.aadhaar }}</p><br>
                <p>Address: {{ passenger_details.address }}</p><br>

                <form id="confirm-form" action="{{ url_for('book_flight') }}" method="GET">
                    <button type="submit">Confirm Ticket!</button>
                </form>
                
                <!-- Include other flight and passenger details as needed -->
            {% else %}
                <p>Booking confirmation failed. Please try again.</p>
            {% endif %}
        {% endif %}
    </div>

    <script>
        // Add JavaScript for Aadhaar card number length validation
        document.getElementById('confirm-form').addEventListener('submit', function(event) {
            var aadhaarInput = document.getElementById('aadhaar');
            if (aadhaarInput.value.length !== 12) {
                alert('Aadhaar card number must be 12 digits.');
                event.preventDefault(); // Prevent form submission if validation fails
            }
        });
    </script>
{% endblock %}
