{% extends "base1.html" %}
<link rel="stylesheet" href="styles.css">

{% block title %}Data Analysis Options{% endblock %}

{% block content %}
<div class="container mx-auto px-4">
  <h1 class="text-3xl font-bold mb-8">Data Analysis Options</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8">
    <div class="option bg-white rounded-lg shadow-md p-4">
      <a href="mean_airfare_distribution"><img src="static/images/image1.jpg" alt="Option 1" class="mb-4"></a>
      <p class="text-lg font-semibold">Average Airfare per Airline Distribution</p> 
      <div class="flex justify-center">
        <button onclick="window.location.href='mean_airfare_distribution'" class="button">Option 1</button>
      </div>
    </div>
    <div class="option bg-white rounded-lg shadow-md p-4">
      <a href="flight_time_distribution"><img src="static/images/image2.jpg" alt="Option 2" class="mb-4"></a>
      <p class="text-lg font-semibold">Distribution of flight time</p> 
      <div class="flex justify-center">
        <button onclick="window.location.href='/flight_time_distribution'" class="button">Option 2</button>
      </div>
    </div>
    <div class="option bg-white rounded-lg shadow-md p-4">
      <a href="city_selection"><img src="static/images/image3.jpg" alt="Option 3" class="mb-4"></a>
      <p class="text-lg font-semibold">Departure time distribution (Custom city selection)</p>
      <div class="flex justify-center">
        <button onclick="window.location.href='/city_selection'" class="button">Option 3</button>
      </div>
    </div>
    <div class="option bg-white rounded-lg shadow-md p-4">
      <a href="pie_chart"><img src="static/images/image4.jpg" alt="Option 4" class="mb-4"></a>
      <p class="text-lg font-semibold">No. of flights per airline</p> 
      <div class="flex justify-center">
        <button onclick="window.location.href='/pie_chart'" class="button">Option 4</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
