<!-- Save this file as 'index2.html' -->
{% extends "base1.html" %}

{% block title %}City Selection{% endblock %}

{% block content %}
    <h1>City Selection</h1>

    <form action="{{ url_for('flight_search') }}" method="post">
        <label for="from">From:</label>
        <select name="from" id="from">
            {% for city in list_of_cities %}
                <option value="{{ city.capitalize() }}">{{ city.capitalize() }}</option>
            {% endfor %}
        </select>

        <label for="to">To:</label>
        <select name="to" id="to">
            {% for city in list_of_cities %}
                <option value="{{ city.capitalize() }}">{{ city.capitalize() }}</option>
            {% endfor %}
        </select>

        <!-- Add a date input with a minimum date of May 1, 2024 -->
        <label for="departure-date">Departure Date:</label>
        <input type="date" id="departure-date" name="departure_date" required>

        <input type="submit" value="Submit">
    </form>

    <script>
        function validateForm() {
            var startDate = new Date("2024-05-01").toISOString().split('T')[0];
            document.getElementById('departure-date').setAttribute('min', startDate);
            return true;
        }

        // Set the minimum date for the date input to May 1, 2024
        var startDate = new Date("2024-05-01").toISOString().split('T')[0];
        document.getElementById("departure-date").min = startDate;
    </script>
{% endblock %}
