{% extends "base1.html" %}

{% block title %}Get PNR details{% endblock %}

{% block content %}
    <div class="flex justify-center items-center h-screen">
        <div class="bg-white rounded-lg p-8 shadow-md">
            <h1 class="text-3xl font-bold mb-4 text-center">Get PNR details</h1>

            <!-- Display error message if it exists -->
            {% if error_message %}
                <div class="text-red-500 text-center mb-4">
                    <p>{{ error_message }}</p>
                </div>
            {% endif %}

            <form action="/get_pnr_details" method="POST" class="text-center">
                <label for="pnr_id" class="block mb-2">Enter PNR ID:</label>
                <input type="text" id="pnr_id" name="pnr_id" required class="border py-2 px-4 mb-4 rounded-md">

                <!-- Display flight details if available -->
                {% if pnr_data %}
                    <div class="mb-4">
                        <p>PNR ID: {{ pnr_data.pnr_id }}</p>
                        <p>Flight Number: {{ pnr_data.flight_number }}</p>
                        <p>Departure Time: {{ pnr_data.departure_time }}</p>
                        <p>Origin: {{ pnr_data.origin }}</p>
                        <p>Destination: {{ pnr_data.destination }}</p>
                        <p>Arrival Time: {{ pnr_data.arrival_time }}</p>
                        <p>Journey Date: {{ pnr_data.journey_date }}</p>
                    </div>
                {% endif %}

                <div class="w-full flex justify-center">
                    <button type="submit" class="button">Get PNR Details</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
