<!-- Save this file as 'loggedin_home.html' -->
{% extends "base1.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h1>Welcome, {{ username }}!</h1>
        <p>This is your home page.</p>
        <p>Explore the following options:</p>
        <ul>
            <li><a href="{{ url_for('profile_home', username=username) }}">Profile</a></li>
            <li><a href="{{ url_for('my_bookings') }}">My Bookings</a></li>
        </ul>
    </div>
{% endblock %}