<!-- Search results if user is already logged in -->

<!-- <link rel="stylesheet" href="styles.css"> -->

{% extends "base1.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}
    <div class="mx-20">
        <h1 class="text-3xl font-bold mb-4">Search Results</h1>

        {% if flag %}
            <p class="mb-2"><b>From:</b> {{ from_city }}</p>
            <p class="mb-2"><b>To:</b> {{ to_city }}</p>
            <p class="mb-2"><b>Daate:</b> {{ dateoftrip }}</p>
            <p class="mb-2"><b>Day of the Week:</b> {{ dayofweek }}</p>

            <h2 class="text-3xl font-bold mt-4 mb-2">Available Flights</h2>
            <p class="mb-2"><b>Filters</b></p>
            <form action="/results" method="GET" class="mb-4">
                <button type="submit" name="sort" value="price_asc" class="button mr-2">Sort by Price (Ascending)</button>
                <button type="submit" name="sort" value="price_desc" class="button mr-2">Sort by Price (Descending)</button>
                <button type="submit" name="sort" value="duration_asc" class="button mr-2">Sort by Duration (Ascending)</button>
                <button type="submit" name="sort" value="duration_desc" class="button mr-2">Sort by Duration (Descending)</button>
                <button type="submit" name="sort" value="departure" class="button">Sort by Departure Time</button>
            </form>
            <div class="bg-white shadow-md rounded-lg overflow-visible justify-center flex">
                <table class="w-full">
                    <thead class="bg-gray-200 text-gray-700 text-center">
                        <tr>
                            <!-- <th class="py-2">Flight ID</th> -->
                            <th class="py-2">Flight Number</th>
                            <th class="py-2">Airline</th>
                            <th class="py-2">Departure</th>
                            <th class="py-2">Destination</th>
                            <!-- <th class="py-2">Days of Week</th> -->
                            <th class="py-2">Departure Time</th>
                            <th class="py-2">Arrival Time</th>
                            <th class="py-2">Flight Time</th>
                            <th class="py-2">Rate</th>
                            <th class="py-2">Book Flight</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600">
                        {% for result in list_of_results %}
                            <tr>
                                <!-- <td class="py-2 text-center">{{ result._id }}</td> -->
                                <td class="py-2 text-center">{{ result.flightNumber }}</td>
                                <td class="py-2 text-center">{{ result.airline }}</td>
                                <td class="py-2 text-center">{{ result.origin }}</td>
                                <td class="py-2 text-center">{{ result.destination }}</td>
                                <!-- <td class="py-2">{{ result.daysOfWeek }}</td> -->
                                <td class="py-2 text-center">{{ result.scheduledDepartureTime }}</td>
                                <td class="py-2 text-center">{{ result.scheduledArrivalTime }}</td>
                                <td class="py-2 text-center">{{ result.flightTime }}</td>
                                <td class="py-2 text-center">{{ result.rate }}</td>
                                <!-- Button for booking each flight -->
                                <td class="py-2 text-center align-middle">
                                    <form action="{{ url_for('book_flight') }}" method="post">
                                        <input type="hidden" name="obj_id" value="{{ result._id }}">
                                        <input type="submit" value="Book Now" class="button">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
        <div class="bg-red-100 border border-red-400  px-4 py-3 rounded-lg mt-4 text-center">
            <h1 class="text-xl text-red-700 font-bold">No results found.</h1>
        </div>
        {% endif %}
{% endblock %}
